{% extends "layout.twig" %}
{% block title %} Mis publicaciones {% endblock %}
{% block main_container %}
    <h2>Conversaciones</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Offer Id</th>
                <th>Email</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for conversation in conversations %}
                <tr>
                    <td>{{ conversation.offerId }}</td>
                    <td>{{ conversation.author }}</td>
                    <td><a href="/api/v1.0/conversations/delete/{{ conversation._id }}">Eliminar</a> <br> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link" href="/api/v1.0/conversations/?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>
{% endblock %}