<!DOCTYPE html>
<html lang="en">
<head>
    <title>uoMusic</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    {% extends "layout.twig" %}
    {% block title %} myWallapop {% endblock %}
    {% block main_container %}
        <!-- Busqueda -->
        <div class="row">
            <div id="custom-search-input ">
                <form method="get" action="/shop">
                    <div  class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                        <input id="search" type="text" class="search-query form-control"
                               placeholder="Titulo de la oferta" name="search"/>
                        <span class="input-group-btn">
                    <button class="btn" type="submit">Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                    </div>
                </form>
            </div>
        </div>
        <h2>Tienda</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Detalle</th>
                    <th>Fecha</th>
                    <th>Precio</th>
                    <th>Disponibilidad</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                    {% if offer.highlight %}
                        <tr style="background-color: #fabada">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ offer.title }}</td>
                        <td>{{ offer.detail }}</td>
                        <td>{{ offer.date }}</td>
                        <td>{{ offer.price }}€</td>
                        {% if offer.owner %}
                            {% if offer.available %}
                                <td><p>Disponible</p></td>
                            {% else %}
                                <td><p>Vendido</p></td>
                            {% endif %}
                        {% else %}
                            {% if offer.available %}
                                <td><a href="/offers/buy/{{ offer._id }}">Comprar</a></td>
                            {% else %}
                                <td><p>Vendido</p></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
        <div class="row text-center">
            <ul class="pagination">
                {% for page in pages %}
                    {% if search == undefined %}
                        <li class="page-item" id="pi-{{ page }}">
                            <a class="page-link" href="/shop/?page={{ page }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item" id="pi-{{ page }}">
                            <a class="page-link" href="/shop/?search={{ search }}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <script>
                    $("#pi-" + "{{ currentPage }}").addClass("active");
                </script>
            </ul>
        </div>
    {% endblock %}
</div>

</body>
</html>
